global
	daemon
	maxconn 256

defaults
	mode tcp
	timeout connect 5000ms
	timeout client 50000ms
	timeout server 50000ms

frontend http
	bind :3000
	default_backend stats

backend stats
	mode http
	stats enable
	stats enable
	stats uri /
	stats refresh 1s
	stats show-legends
	stats admin if TRUE

frontend redis-read
    bind *:6380
    default_backend redis-online

frontend redis-write
	bind *:6379
	default_backend redis-primary

backend redis-online
	balance roundrobin
	server redis redis:6379  maxconn 1024 check inter 3s
	server redis-slave-1 redis-slave-1:6379 maxconn 1024 check inter 3s
	server redis-slave-2 redis-slave-2:6379 maxconn 1024 check inter 3s

backend redis-primary
    mode tcp 
    option tcp-check 
    tcp-check send AUTH\ str0ng_passw0rd\r\n 
    tcp-check expect string +OK 
    tcp-check send PING\r\n 
    tcp-check expect string +PONG 
    tcp-check send info\ replication\r\n 
    tcp-check expect string role:master 
    tcp-check send QUIT\r\n 
    tcp-check expect string +OK 
	server redis redis:6379  maxconn 1024 check inter 3s
	server redis-slave-1 redis-slave-1:6379 maxconn 1024 check inter 3s
	server redis-slave-2 redis-slave-2:6379 maxconn 1024 check inter 3s


